@import "stories/Scss.scss";

.preview__chip__container {
  .preview__chip__list {
    display: flex;
    flex-wrap: wrap;
    .preview__chip {
      .cancel-button {
        @include display-flex(center, center);
        width: 14px;
        height: 14px;
        margin-left: 8px;
        cursor: pointer;

        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          margin-top: -1px;
          // background: url("/assets/img/cve_icons.svg") no-repeat -145px -30px;
        }
      }
    }
  }
}
