@mixin display-flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.modal__basic__wrapper {
  width: max-content;
  border-radius: 10px;
  overflow: hidden;
  .modal__header {
    @include display-flex(center, space-between);
    width: 100%;
    height: 60px;
    padding: 0 38px;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #ededed;

    .modal__title {
      width: calc(100% - 48px);
      font-size: 14px;
      color: #22324e;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .close-btn {
      cursor: pointer;
    }
  }

  .modal__content__form {
    width: 100%;
    padding: 40px 38px 20px;
    box-sizing: border-box;
    .modal__content {
      width: inherit;
      height: 100%;
    }
  }

  .modal__footer {
    @include display-flex(center, flex-end);
    gap: 10px;
    width: 100%;
    padding: 28px 38px;
    background-color: #fff;
    box-sizing: border-box;

    @mixin Button {
      width: 100px;
      height: 36px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }

    .footer__cancel {
      @include display-flex(center, center);
      @include Button;
      border: 1px solid #5e81f4;
      color: #5e81f4;
    }

    .footer__submit {
      @include display-flex(center, center);
      @include Button;
      background-color: #5e81f4;
      color: #fff;
    }
  }
}

.modal__btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #61bd4f;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
